[submodule "phabricator"]
	path = phabricator
	url = https://github.com/Khan/phabricator.git
[submodule "libphutil"]
	path = libphutil
	url = https://github.com/Khan/libphutil.git
[submodule "python-phabricator"]
	path = python-phabricator
	url = http://github.com/Khan/python-phabricator
