<html>
  <body>
    <h1>Weekly reliability metrics for {{date.strftime('%b %-d %Y')}}</h1>

    <h2>Summary</h2>
    <ul>
      <li>Item one</li>
      <li>Item two</li>
      <li>Item three</li>
    </ul>

    <h2>Page performance, 90th percentile</h2>
    {% for title, data in change_data.items() %}
    <h3>{{ id_to_display_name[title] }}</h3>
    <img src={{'cid:%s' % title}}>
    <h3>Change</h3>
    <table border="1">
      <tr>
        <th></th>
        <th>Baseline</th>
        <th>This week</th>
      </tr>
      {% for row in data %}
      <tr>
        <td>{{row['key']}}</td>
        <td>{{row['baseline']}}</td>
        <td>{{row['current']}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}

    <h2>Non-degraded performance</h2>
    <p>This week: {{'%.2f %%' % degraded['current'] if degraded['current']
                                                    else default_message}}</p>
    <p>Last week: {{'%.2f %%' % degraded['last'] if degraded['last']
                                                 else default_message}}</p>
    <p>We consider performance "degraded" during a given 10 sec time interval
      if more than 1 in 400 requests fails with a 5xx error during that span.
      Non-degraded performance is 1 - degraded_intervals / intervals_in_a_week,
      multiplied by 100 for display as a percentage.</p>
    <p>For full details, see
      <a href="{{('https://github.com/Khan/internal-webserver/blob/'
               'master/gae_dashboard/email_uptime.py')}}">the source code</a>.
    </p>

    <h2>Uptime</h2>
    <p>This week: {{'%.2f %%' % uptime['current'] if uptime['current']
                                                  else default_message}}</p>
    <p>Last week: {{'%.2f %%' % uptime['last'] if uptime['last']
                                               else default_message}}</p>
    <p>Uptime numbers are calculated using data from 
      <a href="https://my.pingdom.com">Pingdom</a>.</p>

    <h3>About this report</h3>
    <p>See <a href="{{('https://github.com/Khan/internal-webserver/blob/'
         'master/gae_dashboard/email_reliability_metrics.py')}}">
        the script that generates this report</a>
      for full details.
  </body>
</html>
